https://ailog.site/tags/Pandas/

In [18]:
import pandas as pd
df = pd.read_csv("../data/testdata.csv")

In [19]:
df.head()

       date station  temp
0  2018/9/1      札幌  19.5
1  2018/9/1      青森  21.5
2  2018/9/1      仙台  21.5
3  2018/9/1      東京  25.9
4  2018/9/1      福岡  25.5

In [20]:
df.tail()

        date station  temp
11  2018/9/1      福島  21.9
12  2018/9/1      水戸  23.7
13  2018/9/1      千葉  27.5
14  2018/9/1     宇都宮  23.2
15  2018/9/1    さいたま  24.8

In [21]:
df_sliced = df.iloc[2:7]

In [22]:
df_sliced

       date station  temp
2  2018/9/1      仙台  21.5
3  2018/9/1      東京  25.9
4  2018/9/1      福岡  25.5
5  2018/9/1     鹿児島  26.8
6  2018/9/1      那覇  27.6

In [23]:
df.head()

       date station  temp
0  2018/9/1      札幌  19.5
1  2018/9/1      青森  21.5
2  2018/9/1      仙台  21.5
3  2018/9/1      東京  25.9
4  2018/9/1      福岡  25.5

In [24]:
df["temp"]

0     19.5
1     21.5
2     21.5
3     25.9
4     25.5
5     26.8
6     27.6
7     27.3
8     22.2
9     22.0
10    20.8
11    21.9
12    23.7
13    27.5
14    23.2
15    24.8
Name: temp, dtype: float64

In [25]:
print("最大値", df["temp"].max())

最大値